/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}

.content {
  width: 85vw;
  min-height: 50vh;
  padding: 88px 7.5vw;
}
